@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/bootstrap/css/bootstrap.css")
        @Styles.Render("~/Content/themes/bootstrap/css/bootstrap-responsive.css")
        @Styles.Render("~/Content/Circle.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        

      <div class="masthead">
          <h3 class="muted container-narrow pager">
              <a href="/"><img alt="me" class="img-rounded" src="http://www.gravatar.com/avatar/af50c7901f1ed9c6434e9d6c67ae0f20" /></a><br />
              <a href="/">Things, cosas, and stuff</a>
          </h3>
      </div>
          <div class="navbar">
          <div class="navbar-inner">
            <div class="container-narrow">
                <ul class="nav">	
      	            <li><a href="/">Home</a></li>  	
      	            <li class="active"><a href="/tags.html" class="active">Tags</a></li> 	
      	            <li><a href="/categories.html">Categories</a></li>  	
      	            <li><a href="/archive.html">Archive</a></li>    	
      	            <li><a href="/pages.html">Pages</a></li>
                </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
        
        

<div class="container-narrow">
        <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Cuerpo!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>

      <hr>
      <hr>

      <div class="footer">
        <p>© Company 2013</p>
      </div>

    </div>



        

        @Scripts.Render("~/bundles/jquery")      
        @Scripts.Render("~/Content/themes/bootstrap/js/bootstrap.min.js")
        @*@RenderSection("scripts", required: false)*@
    </body>
</html>








